<launch>
    <node pkg="topic_tools" type="relay" name="cmd_vel_relay" args="/navigation_velocity_smoother/smooth_cmd_vel /mobile_base/commands/velocity"/>
    <node name="map_server" pkg="map_server" type="map_server" args="/home/turtlebot/mymap2.yaml" respawn="true">
        <!-- General map parameters-->
        <param name="frame_id" value="map" />
    </node>

    <include file="$(find wilson_ros)/launch/nodelet.launch"/>
    <include file="$(find turtlebot_bringup)/launch/boot.launch"/>
    <include file="$(find wilson_ros)/launch/amcl.launch"/>
    <include file="$(find wilson_ros)/launch/navigation_stack.launch"/>
</launch>