
<launch>
<node pkg="nodelet" type="nodelet" name="navigation_velocity_smoother"
			args="load yocs_velocity_smoother/VelocitySmootherNodelet mobile_base_nodelet_manager" output="screen">
	    		<rosparam file="$(find turtlebot_bringup)/param/defaults/smoother.yaml" command="load" ns="robot_8"/>
	   		<remap from="robot_8/navigation_velocity_smoother/smooth_cmd_vel" to="cmd_vel_mux/input/navi"/>

	    		<!-- Robot velocity feedbacks; use the default base configuration -->
	    		<remap from="navigation_velocity_smoother/odometry" to="odom"/>
	    		<remap from="navigation_velocity_smoother/robot_cmd_vel" to="mobile_base/commands/velocity"/>

			<!-- Remaping the cmd_vel topic to meet with the common name -->
			<remap from="navigation_velocity_smoother/raw_cmd_vel" to="cmd_vel"/>
	  	</node>
</launch>
